.card {
    display: flex;
    position: relative;

    &__image {
        position: relative;
        width: 340px;
        height: 340px;
        object-fit: cover;
        border-radius: 10px;
    }

    .card__image:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: 0 100px 100px black inset;
    }

    &__title {
        position: absolute;
        color: white;
        font-weight: 500;
        font-size: 1.2rem;
        bottom: 0;
        padding: 20px;
        line-height: 26px;
    }
}