.card {
    display: flex;
    flex-wrap: wrap;

    img {
        width: 340px;
        height: 340px;
        filter: brightness(80%);
        object-fit: cover;
        border-radius: 10px;
    }
}