.card {
    display: flex;
    position: relative;

    img {
        width: 340px;
        height: 340px;
        object-fit: cover;
        border-radius: 10px;
    }

    &__title {
        position: absolute;
        color: white;
        font-weight: 500;
        font-size: 1.2rem;
        bottom: 0;
        padding: 20px;
        line-height: 26px;
    }
}