.collapse {
    width: 60%;

    &__title {
        color: white;
    }

    &__icon {
        font-size: 1.5rem;
        color: white;
    }

    &__content {
        color: #ff6060;
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        transition-duration: 1s;
        margin-bottom: 30px;
        padding: 20px;
    }

    &__button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #ff6060;
        background-color: #ff6060;
        padding: 15px;
        border-radius: 10px;
        border: 0;
    }
}