.gallery {
    background-color: #F6F6F6;
    border-radius: 25px;
    margin-bottom: 2.5rem;
    padding: 50px;

    &__card {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 60px;
    }
}