@import '../base.scss';

.header {
    display: flex;
    align-items: center;
    height: 15vh;

    @media screen and (max-width: 600px) {
        height: 10vh;
    }

    &__logo {
        width: 100%;

        img {
            width: 20%;

            @media screen and (max-width: 600px) {
                width: 16vh;
            }
        }
    }

    &__links {
        width: 35%;
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
        color: #ff6060;
        font-size: 1.4vh;

        a:hover {
            text-decoration: underline;
        }

        &__title {
            display: flex;
        }

        @media screen and (max-width: 600px) {
            width: 100%;
            font-size: 1.4vh;
            text-transform: uppercase;
        }
    }
}